/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
resources/
**/**/#*
**/**/.#*
/native
profiles.clj
.calva/
dev/
.shadow-cljs/
node_modules/
build/browser/**
!build/browser/browser-main.js
